<h1>Thank you</h1>
<p>We appreciate your business</p>
<a href="https://s3.amazonaws.com/one-month-stripe-payments-rms/The_Ultimate_Productivity_Cheat_Sheet+(1).pdf"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>